options.timeout = 120
options.subscribe = true

account = IMAP {
 server = 'imap.gmail.com',
 username = '{{ imapfilter_account.username }}',
 password = '{{ imapfilter_account.password }}',
 ssl = 'ssl3'
}

trash = account['[Gmail]/Cestino']:is_undeleted()
account['[Gmail]/Cestino']:delete_messages(trash)

sent = account['[Gmail]/Posta inviata']:is_undeleted()
account['[Gmail]/Posta inviata']:delete_messages(sent)

all = account['[Gmail]/Tutti i messaggi']:is_undeleted()
account['[Gmail]/Tutti i messaggi']:delete_messages(all)
